---
import SocialIcons from "./SocialIcons.astro";
---

<div class="hidden md:block bg-dark-sea-blue py-3 w-full">
  <div class="container-site flex items-center justify-end">
    <div class="flex gap-2 items-center">
      <SocialIcons variant="light" size="sm" />
    </div>
  </div>
</div>
